#products {
    padding: 2rem;
}

#products .products {
    margin: 8.5rem auto 3rem auto;
}

#products .products ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: 0 auto;
}

#products .products li {
    transition: all 500ms ease-in;
}

#products .products li:hover {
    transform: scale(1.01);
}

#products .product-card {
    padding: 1rem 0 2rem 0;
    border: solid var(--medium-color) 0.2rem;
    background: var(--dark-color);
    border-radius: 1rem;
    margin: 1rem;
    transition: all 500ms ease-in-out;
}

#products .product-card:hover {
    border: solid var(--gold-color) 0.2rem;
}

#products .product-card > * {
    margin: 0.25rem 0;
}

#products .products img {
    max-width: 22.5rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--dark-color);
}

#products .products h2 {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-decoration: underline;
}
