header {
    width: 100vw;
}

header #logo {
    display: flex;
    max-width: 5rem;
}

#navbar {
    z-index: 1000;
    background-color: var(--dark-color);
    border-bottom: 0.15rem solid var(--black-color);
    position: fixed;
    top: 0;
    padding: 0.25rem;
    width: 100vw;
    transition: background 300ms;
}

#navbar.transparent {
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background 300ms;
    border-bottom: none;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#navbar .nav-item a {
    font-size: 1.1rem;
    font-weight: 300;
}
