header {
    width: 100vw;
    padding: 1rem;
    border-bottom: 0.15rem solid var(--black-color);
    background-color: var(--dark-color);
}

header #logo {
    max-width: 10rem;
}

#navbar nav {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
